
## Firebase test data

# Ignore all data under `./DerivedData/` except the build products used for `xcodebuild build-for-testing`
Demo/DerivedData/*
# Demo/DerivedData/ModuleCache.noindex/*
Demo/DerivedData/FireUI\ Demo/*
Demo/DerivedData/FireUI\ Demo/Index/*
Demo/DerivedData/FireUI\ Demo/Index/Build/*
# Demo/DerivedData/FireUI\ Demo/Index/Build/Products/

!Demo/DerivedData/
!Demo/DerivedData/FireUI\ Demo/
!Demo/DerivedData/FireUI\ Demo/Index/
!Demo/DerivedData/FireUI\ Demo/Index/Build/
!Demo/DerivedData/FireUI\ Demo/Index/Build/Products/
!Demo/DerivedData/FireUI\ Demo/Index/Build/Products/Debug/
!Demo/DerivedData/FireUI\ Demo/Index/Build/Products/Debug-iphoneos/
!Demo/DerivedData/FireUI\ Demo/Index/Build/Products/Debug-iphonesimulator/

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm
.build/

## fastlane

# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection

# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
